<footer>
    <div class="footer-container"> 
        <div class="redes"> 
                <a href="https://www.instagram.com/momotostadores/" target=_blank > <img src="/multimedia/instagram.png" width="30px" alt="Instagram"></a>
                <a href="https://www.facebook.com/momotostadores" target=_black><img src="/multimedia/facebook.png" width="30px" alt="Facebook"></a>
        </div>
        <div class="footer-texto"> 
        <p>
        &copy 2022 - Desarrollado por Martín Maine -
        </p>
        </div>
    </div>

</footer>