<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="/css/main.css">
  <script defer src="https://code.jquery.com/jquery-3.2.1.min.js" type="text/javascript"></script>
  <script defer src="scroll.js" ></script>
</head>
<body>
<div id="main-escritorio"> 
  <div class="main-container">
<h2> main escritorio </h2>

  <div class="video-container"> 

    <div class="container">
      <div class="text">REDESCUBRÍ EL CAFÉ</div>
    </div>

    <div class="cajanegra"> 
      <video width=400vw autoplay muted>
          <source src="/multimedia/cajaFondo.mp4" type="video/mp4" id="macpro">
      </video>
    </div>
    
    <h3>Gesha</h3>
    <p class="description">
      Exótico, muy dulce, miel, duraznos, floral, frambuesa, bergamota y retrogusto mentolado.
    </p>
  </div>

  <div class="colores-container">
    <div class="verde"><img src="/multimedia/verde.jpg" alt="Montañas"></div>
    <div class="amarillo"><img src="/multimedia/amarillo.jpg" alt="Granos"></div>
    <div class="rojo"><img src="/multimedia/rojo.jpg" alt="Cerezas"></div>
    <div class="azul"><img src="/multimedia/azul.jpg" alt="Café"></div>
  </div>

  <div class="servicios">
    <div> <img class="s1" src="/multimedia/flama.svg" alt="flama"> 
      <h4> TOSTADO EN CÓRDOBA </h4>
      <p> El tostado natural más fresco del mercado <br> siguiendo los estándares SCA </p> 
    </div>
    <div> <img class="s2" src="/multimedia/importado.svg" alt="importado">
      <h4> IMPORTACIÓN DIRECTA </h4>
    <p> Trabajamos directamente con productores de <br> grano verde de especialidad </p>
    </div>
    <div> <img class="s3" src="/multimedia/asesoria.svg" alt="asesoria">
    <h4> CONSULTORIA</h4>
    <p>
      Desarrollo de cafeterias de especialidad.  <br> Compra de equipos, 
      capacitación al personal, <br> armado de carta.
    </p>
    </div>
  </div>

</div>
</div>
</body>
</html>