<nav id="menu" class="navbar navbar-expand-lg navbar-light fixed-top background-color: darkgray ">
  <div class="container-fluid">
        <span class="navbar-brand" href="#">
      <img src="/multimedia/logoVec.svg" alt="logoMomo" width="100" height="24">
    </span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="productos">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contacto">Contacto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="formulario">Suscripción</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
